<p>
  {% for member in executive %}
    {{member.title}}:
    <a href="mailto:{% if member.email %}{{member.email}}{% else %}{{member.member.username}}@jamalaide.org.au{% endif %}">
      {% if member.member.get_full_name %}{{member.member.get_full_name}}{% else %}{{member.member.username}}{% endif %}
    </a><br />
  {% endfor %}
</p>
<p>General Committee:<br />
  {% for member in general %}
    <a href="mailto:{% if member.email %}{{member.email}}{% else %}{{member.member.username}}@jamalaide.org.au{% endif %}">
      {% if member.member.get_full_name %}{{member.member.get_full_name}}{% else %}{{member.member.username}}{% endif %}
    </a><br />
  {% endfor %}
<ul></p>
