{% extends "base.html" %}

{% block content %}

{{ form.non_field_errors }}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="left">{{ form.username.label_tag }}</div>
<div class="right">
    {{ form.username }}
    {{ form.username.errors }}
</div>

<div class="left">{{ form.password.label_tag }}</div>
<div class="right">
    {{ form.password }}
    {{ form.password.errors }}
</div>

<input id="submit" type="submit" value="Login" />

<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
