{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<section id="form">
<h1>Reset password</h1>

<p>Please enter the email address associated with your account so we can send you a password reset link.</p>

{{ form.non_field_errors }}

<form method="post" action="{% url 'password_reset' %}">
{% csrf_token %}

<div class="left">Email address</div>
<div class="right">
    {{ form.email }}
    {{ form.email.errors }}
</div>

<input class="button" type="submit" value="Send" />

</form>
</section>
{% endblock %}
