{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<section id="form">
  <h1>Reset password</h1>
  {% if validlink %}
  <p>Please enter a new password.</p>

  {{ form.non_field_errors }}

  <form method="post">
    {% csrf_token %}

    <label class="left" for="id_new_password1">New password</label>
    <div class="right">
      {{ form.new_password1 }}
      {{ form.new_password1.errors }}
    </div>

    <label class="left" for="id_new_password2">Confirm password</label>
    <div class="right">
      {{ form.new_password2 }}
      {{ form.new_password2.errors }}
    </div>

    <input class="button" type="submit" value="Send" />

  </form>
  {% else %}
  <p>This reset link is no longer valid!</p>
  {% endif %}
</section>
{% endblock %}
