{% extends "base.html" %}

{% block title %}Jamalaide - Games - Rock Guy{% endblock %}

{% block content %}
<h1>Rock Guy</h1>
<div id="image">
  <img src="/static/img/rock-guy.jpg" alt="" />
</div>
<table>
  <tr>
    <th>Author</td>
    <td>Colin Capurso</td>
  </tr><tr>
    <th>Jam</td>
    <td><a href="/jams/agj-1">Adelaide Game Jam</a> (32 hours)</td>
  </tr><tr>
    <th>Source Code</td>
    <td><a href="/static/games/rock-guy/rock-guy-touch-src.zip">Download touch only</a>
        (<a href="http://sam.zoy.org/wtfpl/">WTFPL</a>)<br />
        <a href="/static/games/rock-guy/rock-guy-mouse-src.zip">Download mouse controls (modified after jam)</a>
        (<a href="http://sam.zoy.org/wtfpl/">WTFPL</a>)</td>
  </tr><tr>
    <th>Play</td>
    <td><a href="/static/games/rock-guy/touch/index.html">Touch only in browser</a> -
      <a href="/static/games/rock-guy/mouse/index.html">Mouse controls in browser (modified after jam)</a>
  </tr>
</table>
{% endblock %}
