{% extends "base.html" %}

{% load sidebar_tags %}
{% load news_tags %}

{% block title %}News{% endblock %}

{% block description %}{% if homepage %}<meta name="description" content="Jamalaide is a club for people who make games in Adelaide: hobbyists, indies, students, and game developers. Jamalaide runs local jams and the Adelaide site for international jams like Global Game Jam and Ludum Dare." />{% endif %}{% endblock %}

{% block content %}
{% sidebar %}
<section id="news-feed">
  <h1>News</h1>
  {% for article in object_list %}
  {% news_item article %}
  {% empty %}
  <p>No articles yet.</p>
  {% endfor %}
  <section>
  {% if prev != None %}<a class="back-link" href="/news/{{prev}}">Newer Posts</a>{% endif %}
  {% if next != None %}<a class="forward-link" href="/news/{{next}}">Older Posts</a>{% endif %}
  </section>
</section>
{% endblock %}
