{% extends 'base.html' %}

{% block title %}Jamalaide - {{ jam.name }} - Submit Game{% endblock %}

{% block content %}
{% if game.id %}
  <h1>Edit Game</h1>
{% else %}
  <h1>Submit Game</h1>
{% endif %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    
    {{ form.non_field_errors }}
  
    <label class="left">Jam
      <div class="small">The current jam</div>
    </label>
    <div class="right">
      <input type="text" readonly="readonly" value="{{jam}}" />
    </div>
    
    <label class="left" for="id_name">Name
      <div class="small">Name your game</div>
    </label>
    <div class="right">
      {{ form.name }}
      {{ form.name.errors }}
    </div>
    
    <label class="left" for="id_creators">Creators
      <div class="small">Pick multiple with Ctrl key</div>
    </label>
    <div class="right">
      {{ form.creators }}<br>
      {{ form.creators.errors }}
    </div>
    
    <label class="left" for="id_description">Description
      <div class="small">Describe your game</div>
    </label>
    <div class="right">
      {{ form.description }}
      {{ form.description.errors }}
    </div>
    
    <label class="left" for="id_image">Image
      <div class="small">Upload game image<br>(600px by 450px works best)</div>
    </label>
    <div class="right">
      {{ form.image }}
      {{ form.image.errors }}
    </div>
    
    <h2>Resources</h2>
    For each resource choose a name and only one of either a link or a
    file upload.
    <div id="formset">
      {{ formset.management_form }}
      {% for form in formset %}
        {{form.id}}
        <div class="box">
          {% for field in form %}
              {% if not field.is_hidden %}
                <div class="left">{{ field.label_tag }}</div>
                <div class="right">
                  {{ field }}
                </div>
              {% endif %}
          {% endfor %}
          <div style="clear: left; height: 0;">&nbsp;</div>
        </div>
      {% endfor %}
    </div>
    
    <input id="submit" type="submit" value="Submit" />
  
  </form>
  
</form><br />
{% endblock %}
