{% extends "base.html" %}

{% load markup %}
{% load jam_tags %}
{% load news_tags %}

{% block title %}{{jam.title}}{% endblock %}

{% block description %}<meta name="description" content="{{jam.title}} is an upcoming game jam that begins at {{ jam.start_time|date:"g:i a"}} on the {{ jam.start_time|date:"jS"}} of {{ jam.start_time|date:"F" }}." />{% endblock %}

{% block content %}
<section id="jam-details">
  {% if jam.banner %}{% if jam.banner_svg %}<picture>
    <source type="image/svg+xml" srcset="{{jam.banner_svg.url}}" />
    {% endif %}<img class="jam-banner" src="{{ jam.banner.url }}" alt="{{ jam.title }} banner"/>{% if jam.banner_svg %}
  </picture>{% endif %}
  {% endif %}{% if jam.is_active %}
  <a href="{% url 'jams.views.edit_game' jam.slug %}">
    <div class="button">Submit Game</div>
  </a>
  {% endif %}
  <section class="key-details">
    <h1>{{jam.title}}</h1>

    <div class="left">Start</div>
    <div class="right">{{jam.start_time|date:"g:i a l jS F Y"}}</div>

    <div class="left">End</div>
    <div class="right">{{jam.end_time|date:"g:i a l jS F Y"}}</div>

    <div class="left">Duration</div>
    <div class="right">{{ jam.duration | duration }}</div>

    <div class="left">Venue</div>
    <div class="right">{{jam.venue|md}}{% if jam.map_link and not jam.map %}
      <p><a href="{{jam.map_link}}" target="_blank">Click here for map</a></p>{% endif %}</div>

    <div class="left">Opening Times</div>
    <div class="right">{{jam.opening_times|md}}</div>
    {% if jam.website %}
    <div class="left">Website</div>
    <div class="right"><a href="{{jam.website}}">{% if jam.website_title %}{{jam.website_title}}{% else %}{{jam.website}}{% endif %}</a></div>
    {% endif %}
    {% if jam.registration %}
    <div class="left">Registration</div>
    <div class="right"><a href="{{jam.registration}}">{% if jam.registration_title %}{{jam.registration_title}}{% else %}{{jam.registration}}{% endif %}</a></div>
    {% endif %}
    {% if jam.brief %}
  </section>

  <section>
    <h2>Description</h2>
    {{jam.brief|md}}
    {% endif %}
    {% if jam.schedule %}
  </section>

  <section>
    <h2>Schedule</h2>
    {{jam.schedule|md}}
    {% endif %}
  </section>

  {% if jam.map %}<section class="map">
    <h2>Map</h2>
    {% if jam.map_link %}<a class="img-link" href="{{jam.map_link}}" target="_blank">
      {% endif %}{% if jam.map_svg %}<picture>
        <source type="image/svg+xml" srcset="{{jam.map_svg.url}}" />
        {% endif %}<img src="{{jam.map.url}}" alt="Map to venue" />{% if jam.map_svg %}
      </picture>{% endif %}{% if jam.map_link %}
    </a>{% endif %}
  </section>{% endif %}
  {% if news %}
  <section>
    <h2>News</h2>
    {% for article in news %}{% news_item article 'h3' %}{% endfor %}
  </section>{% endif %}
  {% if games %}
  <section class="games">
  <h2>Games</h2>
  {% for game in games %}{% game_thumb game %}{% endfor %}
  </section>{% endif %}
</section>
{% jam_list %}
{% endblock %}

