{% extends "base.html" %}

{% load gfm_markdown %}

{% block title %}{{game.name}}{% endblock %}

{% block content %}

{% if user in game.creators.all %}
  <a href="{% url jams.views.edit_game game.jam.url game.url %}">
      <div class="button">Edit</div>
  </a>
{% endif %}

<h1>{{game.name}}</h1>

{% if game.image %}
  <div id="image">
      <img class="gameImage" src="{{game.image.url}}" title="{{game.image.url}}" alt="{{game.name}}" />
  </div>
{% endif %}

{{game.description|gfm_markdown|safe}}

<h2>Details</h2>

<div class="left">Jam</div>
<div class="right">{{game.jam}}</div>

<div class="left">Creators</div>
<div class="right">
  {% for creator in game.creators.all %}
    {{creator.username}}<br />
  {% endfor %}
</div>

<h2>Links</h2>
{% for res in resources %}
<div class="left">{{res.name}}</div>
<div class="right"><a href="{{res.url}}">
  {% if res.file %}Download{% else %}View{% endif %}
</a></div>
{% endfor %}

{% endblock %}

