{% extends "base.html" %}

{% block title %}Jamalaide - {{game.name}}{% endblock %}

{% block content %}
<h1>{{game}}</h1>
{% if user in game.creators.all %}
<a href="{% url jams.views.edit_game game.jam.url game.url %}">Edit</a>
{% endif %}
{% if game.image %}
<div id="image">
    <img src="{{game.image.url}}" title="{{game.image.url}}" alt="" />
</div>
{% endif %}
<table>
  <tr>
    <th>Creator{% if game.creators.all|length > 1 %}s{% endif %}</td>
    <td>
    {% for creator in game.creators.all %}
      {{creator.username}}<br />
    {% endfor %}
    </td>
  </tr><tr>
    <th>Jam</td>
    <td>{{game.jam}}</td>
  {% for res in resources %}
  </tr><tr>
    <th>{{res.name}}</td>
    <td><a href="{{res.url}}">Download</a>
    {% if user in game.creators.all %}
      (<a href="{% url jams.views.edit_res game.jam.url game.url res.id %}">Edit</a>
      <a href="{% url jams.views.rm_res game.jam.url game.url res.id %}">Delete</a>)
    {% endif %}
    </td>
  {% endfor %}
  {% if user in game.creators.all %}
    <a href="{% url jams.views.edit_res game.jam.url game.url %}">Add Resource</a>
  {% endif %}
  </tr>
</table>
{% endblock %}

