{% extends "base.html" %}

{% load jam_tags %}

{% block title %}Games{% endblock %}

{% block description %}<meta name="description" content="Explore & download the broad range of digital and traditional games developed at our jams. Now featuring games from our most recent jam, {{ recent.0.0.title }}." />{% endblock %}

{% block body_class %}wide{% endblock %}

{% block content %}
<section id="game-list">
  <h1>Games</h1>
  {% for jam, games in recent %}<h2>From <a href="/jams/{{ jam.slug }}">{{ jam.title }}</a></h2>
  <p>
    {% for game in games %}{% game_thumb game %}{% endfor %}
  </p>{% endfor %}
  {% if spotlight %}<h2>Spotlighted games</h2>
  <p>
    {% for game in spotlight %}{% game_thumb game %}{% endfor %}
  </p>{% endif %}
  {% if games %}<h2>Other games</h2>
  <p>
    {% for game in games %}{% game_thumb game %}{% endfor %}
  </p>{% endif %}
</section>
{% endblock %}
