{% extends "base.html" %}

{% load gfm_markdown %}

{% block title %}{{jam.name}}{% endblock %}

{% block content %}

<h1>{{jam.name}}</h1>

<div class="left">Start</div>
<div class="right">{{jam.start|date:"g:i a l jS F Y"}}</div>

<div class="left">End</div>
<div class="right">{{jam.end|date:"g:i a l jS F Y"}}</div>

<div class="left">Duration</div>
<div class="right">{{hours}} hours{% if minutes > 0 %} and {{minutes}} minutes{% endif %}</div>

<div class="left">Venue</div>
<div class="right">{{jam.venue|gfm_markdown|safe}}</div>

{% if jam.website %}
<div class="left">Website</div>
<div class="right"><a href="{{jam.website}}">{{jam.website}}</a></div>
{% endif %}

<div class="left">Notes</div>
<div class="right">{{jam.notes|gfm_markdown|safe}}</div>

{% if games %}
<h2>Games</h2>
{% for game in games %}
<div class="game">
  <a href="/jams/{{ game.jam.url }}/{{ game.url }}">
    <img src="{{ game.thumbnail.url }}" alt="" />
    {{ game.name }}
  </a>
</div>
{% endfor %}
{% endif %}

{% endblock %}

