{% extends "base.html" %}

{% load markup %}

{% block title %}{{jam.title}}{% endblock %}

{% block content %}

<h1>{{jam.name}}</h1>

<div class="left">Start</div>
<div class="right">{{jam.start_time|date:"g:i a l jS F Y"}}</div>

<div class="left">End</div>
<div class="right">{{jam.end_time|date:"g:i a l jS F Y"}}</div>

<div class="left">Duration</div>
<div class="right">{{hours}} hours{% if minutes > 0 %} and {{minutes}} minutes{% endif %}</div>

<div class="left">Venue</div>
<div class="right">{{jam.venue}}</div>

{% if jam.website %}
<div class="left">Website</div>
<div class="right">{{jam.website}}</div>
{% endif %}


{% if jam.brief %}
<div class="left">Notes</div>
<div class="right">{{jam.brief|md}}</div>
{% endif %}

{% if games %}
<h2>Games</h2>
{% for game in games %}
<div class="game">
  <a href="/jams/{{ game.jam.slug }}/{{ game.slug }}">
    <img src="{{ game.thumbnail.url }}" alt="" />
    {{ game.title }}
  </a>
</div>
{% endfor %}
{% endif %}

{% endblock %}

