{% extends "base.html" %}

{% block title %}{{jam.name}}{% endblock %}

{% block content %}

<h1>{{jam.name}}</h1>

<div class="left">Start</div>
<div class="right">{{jam.start|date:"g:i a l jS F Y"}}</div>

<div class="left">End</div>
<div class="right">{{jam.end|date:"g:i a l jS F Y"}}</div>

<div class="left">Duration</div>
<div class="right">{{hours}} hours{% if minutes > 0 %} and {{minutes}} minutes{% endif %}</div>

<div class="left">Venue</div>
<div class="right">{{jam.venue}}</div>

{% if jam.website %}
<div class="left">Website</div>
<div class="right">{{jam.website}}</div>
{% endif %}

<div class="left">Notes</div>
<div class="right">{{jam.notes}}</div>

{% endblock %}

