{% load staticfiles %}
            {% if jam.is_active and user.is_authenticated %}
            <a href="{% url 'jams.views.edit_game' jam.slug %}">
              <div class="button">Submit Game</div>
            </a>
            for<br />
            {% endif %}
            <a class="img-link" href="/jams/{{jam.slug}}">
              {% if jam.logo_svg or not jam.logo %}<picture>
                <source type="image/svg+xml" srcset="{% if jam_logo_svg %}{{jam.logo_svg.url}}{% else %}{% static 'img/jam-default-logo.svg' %}{% endif %}" />
                {% endif %}<img class="jam-logo" src="{% if jam.logo %}{{jam.logo.url}}{% else %}{% static 'img/jam-default-logo.png' %}{% endif %}" alt="{{ jam.title }} logo" />{% if jam.logo_svg or not jam.logo %}
              </picture>{% endif %}
            </a>
            <div class="jam-times"><a class="jam-link" href="/jams/{{jam.slug}}">{{ jam.title }}</a>
              {% if jam.is_active %}{% if jam.is_current %}which ends:{% else %}which ended:{% endif %}<br/>
              {% if jam.end_time.year != now.year %}{{ jam.end_time|date:"g:i a l jS F Y" }}{% else %}{{ jam.end_time|date:"g:i a l jS F" }}{% endif %}
              {% else %}<br />
              {% if jam.start_time.month == jam.end_time.month %}
              {{ jam.start_time|date:"jS" }} - {{ jam.end_time|date:"jS" }} {% if jam.end_time.year != now.year %}{{ jam.start_time|date:"F Y" }}{% else %}{{ jam.start_time|date:"F" }}{% endif %}
              {% else %}
              {% if jam.start_time.year != now.year %}{{ jam.start_time|date:"jS N Y" }}{% else %}{{ jam.start_time|date:"jS N" }}{% endif %} - {% if jam.end_time.year != now.year %}{{ jam.end_time|date:"jS N Y" }}{% else %}{{ jam.end_time|date:"jS N" }}{% endif %}
              {% endif %}
              {% endif %}
            </div>
