
body {
    background: #ffffff;
}

#body {
    max-width: 1024px;
}

#content {
    background: #6f0aaa;
    width: 768px;
    float: left;
}

#menu {
    background: #9d3ed5;
}

#next {
    background: #5e2580;
}

#prev {
    background: #ac66df;
}

#contact {
    background: #47036f;
}

.sidebar {
    display: block;
    clear: both;
    width: 256px;
    float: left;
}

