{% extends "base.html" %}

{% block title %}Jamalaide - Jams - Adelaide Gam Jam{% endblock %}

{% block content %}
<h1>Adelaide Game Jam</h1>
<table>
  <tr>
    <th>Venue</td>
    <td>Clubs Association Common Room<br />
      Lady Symon Building, Adelaide University</td>
  </tr><tr>
    <th>Start Date</td>
    <td>2011-11-19 1000</td>
  </tr><tr>
    <th>End Date</td>
    <td>2011-11-20 1800</td>
  </tr><tr>
    <th>Duration</td>
    <td>32 hours</td>
  </tr><tr>
    <th>Overall Winner</td>
    <td><a href="/jams/agj-1/matt-and-chris">Matt and Chris</a></td>
  </tr><tr>
    <th>Aesthetics Winner</td>
    <td><a href="/jams/agj-1/violence-chap">Violence Chap and Friends</a></td>
  </tr><tr>
    <th>Mechanics Winner</td>
    <td><a href="/jams/agj-1/matt-and-chris">Matt and Chris</a></td>
  </tr><tr>
    <th>Technology Winner</td>
    <td><a href="/jams/agj-1/some-game-by-james">Some Game by James</a></td>
  </tr><tr>
    <th>Story Winner</td>
    <td><a href="/jams/agj-1/the-game">The Game</a></td>
  </tr><tr>
    <th>Theme Winner</td>
    <td><a href="/jams/agj-1/sound-and-vision">Sound and Vision</a></td>
  </tr><tr>
    <th>Jam Jar Award</td>
    <td>Robert Reed<br />
        Aidan Snoswell</td>
  </tr>
</table>
{% endblock %}
