{% extends "base.html" %}

{% block title %}Jamalaide - Jams - Ludum Dare{% endblock %}

{% block content %}
<h1>Ludum Dare</h1>
<table>
  <tr>
    <th>Venue</td>
    <td>None</td>
  </tr><tr>
    <th>Website</td>
    <td><a href="http://www.ludumdare.com/compo/">http://www.ludumdare.com/compo/</a></td>
  </tr><tr>
    <th>Start Date</td>
    <td>2011-12-17 1230</td>
  </tr><tr>
    <th>End Date</td>
    <td>2011-11-20 1230</td>
  </tr><tr>
    <th>Duration</td>
    <td>72 hours</td>
  </tr>
</table>
{% endblock %}
