{% extends "base.html" %}

{% block title %}Jamalaide - Jams - Adelaide Gam Jam{% endblock %}

{% block content %}
<h1>Adelaide Game Jam</h1>
<table>
  <tr>
    <td class="label">Venue</td>
    <td>Clubs Association Common Room<br />
      Lady Symon Building, Adelaide University</td>
  </tr><tr>
    <td class="label">Start Date</td>
    <td>2011-11-19 1000</td>
  </tr><tr>
    <td class="label">End Date</td>
    <td>2011-11-20 1800</td>
  </tr><tr>
    <td class="label">Duration</td>
    <td>32 hours</td>
  </tr><tr>
    <td class="label">Overall Winner</td>
    <td><a href="/games/matt-and-chris">Matt and Chris</a></td>
  </tr><tr>
    <td class="label">Aesthetics Winner</td>
    <td><a href="/games/violence-chap">Violence Chap and Friends</a></td>
  </tr><tr>
    <td class="label">Mechanics Winner</td>
    <td><a href="/games/matt-and-chris">Matt and Chris</a></td>
  </tr><tr>
    <td class="label">Technology Winner</td>
    <td><a href="/games/some-game">Some Game by James</a></td>
  </tr><tr>
    <td class="label">Story Winner</td>
    <td><a href="/games/the-game">The Game</a></td>
  </tr><tr>
    <td class="label">Theme Winner</td>
    <td><a href="/games/sound-and-vision">Sound and Vision</a></td>
  </tr><tr>
    <td class="label">Jam Jar Award</td>
    <td>Robert Reed<br />
        Aidan Snoswell</td>
  </tr>
</table>
{% endblock %}
