{% extends "base.html" %}

{% block title %}Jamalaide - Jams - Global Gam Jam{% endblock %}

{% block content %}
<h1>Global Game Jam</h1>
<table>
  <tr>
    <td class="label">Venue</td>
    <td>TBA</td>
  </tr><tr>
    <td class="label">Website</td>
    <td><a href="http://globalgamejam.org/">http://globalgamejam.org/</a></td>
  </tr><tr>
    <td class="label">Start Date</td>
    <td>2012-01-27</td>
  </tr><tr>
    <td class="label">End Date</td>
    <td>2012-01-29</td>
  </tr><tr>
    <td class="label">Duration</td>
    <td>48 hours</td>
  </tr>
</table>
{% endblock %}
