<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Jamalaide - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" />
    <link href='{{STATIC_URL}}style.css' rel='stylesheet' type='text/css'>
    
    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <div id="account">
      {% if user.is_authenticated %}
          <p>Welcome, {{ user.username }}.<br>
          <a href="{% url accounts-profile %}">Profile</a> -
          <a href="{% url accounts-logout %}">Logout</a></p>
      {% else %}
          <p><a href="{% url accounts-login %}">Login</a></p>
      {% endif %}
      </div>
    </header>
    <div id="container">
      <nav>
        <ul>
          <li><a href="/">NEWS</a></li>
          <li><a href="/jams/upcoming">UPCOMING</a></li>
          <li><a href="/games">GAMES</a></li>
          <li><a href="/jams">JAMS</a></li>
          <li><a href="/about">ABOUT</a></li>
        </ul>
      </nav>
      <section id="sidebar">
        {% load sidebar_tags %}
        {% sidebar %}
      </section>
      <article id="content">
        {% block content %}{% endblock %}
      </article>
      <footer>
        <p>
        <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">
            <img src="http://i.creativecommons.org/p/zero/1.0/80x15.png" style="border-style: none;" alt="CC0"></a>
        <br>
        To the extent possible under law, we have waived all copyright and related or neighboring rights to the Jamalaide website.<br>This work is published from: Australia.
        </p>
      </footer>
    </div>
  </body>
</html>
