<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="body">
        <div id="header">
	    <a href="/"><img src="/static/img/header.png" alt="Jamalaide" /></a>
	</div>
       
        <div id="menu"><ul>
            <li><a href="/">News</a></li>
            <li><a href="/jams/upcoming">Upcoming</a></li>
            <li><a href="/jams/games">Games</a></li>
            <li><a href="/jams">Jams</a></li>
            <li><a href="/about">About</a></li>
        </ul></div>

	<div id="sidebar">
            <div id="next">
                <h1>Next time</h1>
                Ludum Dare<br />
	        17th-20th December
            </div>
        
            <div id="prev">
                <h1>Last time</h1>
                Adelaide Game Jam<br />
                19th-20th November
            </div>
        
            <div id="contact">
                <h1>Contact</h1>
                Email: <a href="mailto:contact@jamalaide.org.au">contact@jamalaide.org.au</a><br />
                IRC: <a href="https://webchat.freenode.net/?randomnick=1&amp;channels=jamalaide">#jamalaide on freenode</a>
            </div>
	</div>
        
        <div id="content">
            {% block content %}{% endblock %}
        </div>
	<div id="footer">
	  <p>
            <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">
	      <img src="http://i.creativecommons.org/p/zero/1.0/80x15.png" style="border-style: none;" alt="CC0" />
	    </a>
	    <br />
	    To the extent possible under law, Finn Stokes and Saxon Douglass have waived all copyright and related or
            neighboring rights to the Jamalaide website.
	    This work is published from: Australia.
	  </p>
	</div>
    </div>
</body>
</html>

