{% extends "base.html" %}

{% block title %}Jamalaide - Games - Curse{% endblock %}

{% block content %}
<h1>Curse</h1>
<div id="image">
  <img src="/static/img/curse.jpg" alt="" />
</div>
<table>
  <tr>
    <th>Author</td>
    <td>Finn Stokes</td>
  </tr><tr>
    <th>Contributors</td>
    <td>Saxon Douglass</td>
  </tr><tr>
    <th>Jam</td>
    <td><a href="/jams/2011-11-19">Adelaide Game Jam</a> (32 hours)</td>
  </tr><tr>
    <th>Source Code</td>
    <td><a href="/static/games/curse/curse.zip">Download</a>
        (<a href="http://www.opensource.org/licenses/mit-license.php">MIT</a>)</td>
  </tr><tr>
    <th>Play</td>
    <td><a href="/static/games/curse/index.htm">In Browser</a> -
        <a href="/static/games/curse/curse.zip">Download (Source)</a></td>
  </tr>
</table>
{% endblock %}
