{% extends "base.html" %}

{% block title %}Jamalaide - Games{% endblock %}

{% block content %}
<h1>Games</h1>
<div id="game_list">
  <div class="game">
    <a href="/games/curse">
      <img src="/static/img/curse-thumb.jpg" /><br />
      Curse
    </a>
  </div>
  <div class="game">
    <a href="/games/matt-and-chris">
      <img src="/static/img/matt-and-chris-thumb.jpg" /><br />
      Matt and Chris
    </a>
  </div>
  <div class="game">
    <a href="/games/operation-cooperation">
      <img src="/static/img/operation-cooperation-thumb.jpg" /><br />
      Operation Cooperation
    </a>
  </div>
  <div class="game">
    <a href="/games/robojam">
      <img src="/static/img/robojam-thumb.jpg" /><br />
      Robojam
    </a>
  </div>
  <div class="game">
    <a href="/games/rock-guy">
      <img src="/static/img/rock-guy-thumb.jpg" /><br />
      Rock Guy
    </a>
  </div>
  <div class="game">
    <a href="/games/some-game-by-james">
      <img src="/static/img/some-game-by-james-thumb.jpg" /><br />
      Some Game by James
    </a>
  </div>
  <div class="game">
    <a href="/games/sound-and-vision">
      <img src="/static/img/sound-and-vision-thumb.jpg" /><br />
      Sound and Vision
    </a>
  </div>
  <div class="game">
    <a href="/games/three-jumping-dudes">
      <img src="/static/img/three-jumping-dudes-thumb.jpg" /><br />
      Three Jumping Dudes
    </a>
  </div>
  <div class="game">
    <a href="/games/tunnel-experience">
      <img src="/static/img/tunnel-experience-thumb.jpg" /><br />
      Tunnel Experience
    </a>
  </div>
  <div class="game">
    <a href="/games/unamed">
      <img src="/static/img/unamed-thumb.jpg" /><br />
      UNAMED
    </a>
  </div>
  <div class="game">
    <a href="/games/violence-chap">
      <img src="/static/img/violence-chap-thumb.jpg" /><br />
      Violence-Chap
    </a>
  </div>
  <div class="game">
    <a href="/games/joshs-game">
      <img src="/static/img/joshs-game-thumb.jpg" /><br />
      Josh's Game
    </a>
  </div>
  <div class="game">
    <a href="/games/the-game">
      <img src="/static/img/the-game-thumb.jpg" /><br />
      The Game
    </a>
  </div>
</div>
{% endblock %}
