{% extends "base.html" %}

{% block title %}Jamalaide - Games - Matt and Chris{% endblock %}

{% block content %}
<h1>Matt and Chris</h1>
<img src="/static/img/matt-and-chris.jpg" alt="" />
<table>
  <tr>
    <td class="label">Author</td>
    <td>Christopher Johnson</td>
  </tr><tr>
    <td class="label">Contributors</td>
    <td>Alex Mackay<br />
        Harriet Lloyd</td>
  </tr><tr>
    <td class="label">Jam</td>
    <td><a href="/jams/2011-11-19">Adelaide Game Jam</a> (32 hours)</td>
  </tr><tr>
    <td class="label">Source Code</td>
    <td><a href="/static/games/matt-and-chris/matt-and-chris-src.zip">Download</a>
        (<a href="http://www.gnu.org/copyleft/gpl.html">GPL 3.0</a>)</td>
  </tr><tr>
    <td class="label">Play</td>
    <td><a href="/static/games/matt-and-chris/matt-and-chris-win32.zip">Windows</a> -
        <a href="/static/games/matt-and-chris/matt-and-chris-osx.zip">Mac</a> -
        <a href="/static/games/matt-and-chris/matt-and-chris-linux.zip">Linux</a></td>
  </tr>
</table>
{% endblock %}
