{% extends "base.html" %}

{% block title %}Jamalaide - News{% endblock %}

{% block content %}
<h1>News</h1>
<div class="item">
  <h2>Inaugural General Meeting</h2>
  <p class="date">2012-02-27</p>
  <p>The Jamalaide Inaugural General Meeting will be held in the Clubs Assiciation
  common room at 1800 on the 13th of March. We need at least 10 Adelaide
  University students present to officially form the club. Please come along and have
  a say in how we move forward.</p>
</div>
<div class="item">
  <h2>Pirate Kart Jam Next Weekend</h2>
  <p class="date">2012-02-18</p>
  <p>Jamalaide are hosting a <a href="/jams/pkj-2012/">Pirate Kart Jam</a> over the
  weekend of February 25th-26th. All of the games will then be submitted to the
  Pirate Kart that is being shown off at the Game Developers Conference! Check
  the link for details and registration.</p>
</div>
<div class="item">
  <h2>Global Game Jam This Weekend</h2>
  <p class="date">2012-01-24</p>
  <p>The <a href="/jams/ggj-2012/">2012 Global Game Jam</a> runs from 5pm this
  Friday through to Sunday evening. Come along to the University of Adelaide
  Clubs Association and make a game in 48 hours!</p>
</div>
<div class="item">
  <h2>New Look and GGJ Registrations Open</h2>
  <p class="date">2011-12-04</p>
  <p>We are chuffed-to-weenies about our new site design. Even chuffier than
  that though, is the fact that we have been confirmed as running a site for
  the Global Game Jam! To join the fun you must register on <a
  href="http://globalgamejam.org/sites/2012/university-adelaide">their site</a>
  and on <a href="/jams/ggj-2012/">ours</a>. Terribly inconvenient.</p>
</div>
<div class="item">
  <h2>LD22 and GGJ</h2>
  <p class="date">2011-11-23</p>
  <p><a href="http://www.ludumdare.com/compo/">Ludum Dare 22</a> inbound, let's
     get a posse. On the 15th of December the droogs will meet in the Hub to jam
     it down. I have been informed that there will be no posse or droogs, but I'm
     going to be in the Hub at 1200 anyway. On a more sombre note, we are also
     hoping to run a <a href="http://globalgamejam.org/">Global Game Jam</a> site
     in late January and are currently in discussion with the organisers.</p>
</div>
<div class="item">
  <h2>Website Existential Crisis Resolved</h2>
  <p class="date">2011-11-23</p>
  <p>Shiny! Check out our sexy new digs with purple trim and extra topping.
  We'll be riding our art mule hard to bring you some succulent retro graphics
  which will probably be too rubbish to use, but keep your F5 key hot anyway!</p>
</div>
<div class="item">
  <h2>Adelaide Game Jam Over</h2>
  <p class="date">2011-11-20</p>
  <p>After thirty two hours the participants stumbled out of the Clubs Association,
     clutching their hard-earned tim-tams and shambling off to find a place to
     rest. Big and/or biggest props to Colin for showering us in Adelaide Game
     Jam decals from <a href="http://www.etsy.com/shop/colincapurso">his sticker
     shoppe</a>. We were really surprised by the quality of the entries; some of
     them were actually playable!</p>
</div>
{% endblock %}
