{% extends "base.html" %}

{% block title %}Jamalaide - Games - Operation Cooperation{% endblock %}

{% block content %}
<h1>Operation Cooperation</h1>
<img src="/static/img/operation-cooperation.jpg"></img>
<table>
  <tr>
    <td class="label">Author</td>
    <td>Peter Anastasiou</td>
  </tr><tr>
    <td class="label">Jam</td>
    <td><a href="/jams/2011-11-19">Adelaide Game Jam</a> (32 hours)</td>
  </tr><tr>
    <td class="label">Source Code</td>
    <td><a href="/static/games/operation-cooperation/operation-cooperation-src.tar.xz">Download</a>
        (<a href="http://www.opensource.org/licenses/Apache-2.0">Apache License</a>)</td>
  </tr><tr>
    <td class="label">Play</td>
    <td><a href="/static/games/operation-cooperation/operation-cooperation-bin.zip">Download</a></td>
  </tr>
</table>
{% endblock %}
