{% extends "base.html" %}

{% block title %}Jamalaide - Games - Operation Cooperation{% endblock %}

{% block content %}
<h1>Operation Cooperation</h1>
<div id="image">
  <img src="/static/img/operation-cooperation.jpg" alt="" />
</div>
<table>
  <tr>
    <th>Author</td>
    <td>Peter Anastasiou</td>
  </tr><tr>
    <th>Jam</td>
    <td><a href="/jams/2011-11-19">Adelaide Game Jam</a> (32 hours)</td>
  </tr><tr>
    <th>Source Code</td>
    <td><a href="/static/games/operation-cooperation/operation-cooperation-src.zip">Download</a>
        (<a href="http://www.opensource.org/licenses/Apache-2.0">Apache License</a>)</td>
  </tr><tr>
    <th>Play</td>
    <td><a href="/static/games/operation-cooperation/operation-cooperation-bin.zip">Download</a></td>
  </tr>
</table>
{% endblock %}
