{% extends "base.html" %}

{% block title %}Jamalaide - Games - Robojam{% endblock %}

{% block content %}
<h1>Robojam</h1>
<div id="image">
  <img src="/static/img/robojam.jpg" alt="" />
</div>
<table>
  <tr>
    <th>Authors</td>
    <td>Robert Reed<br />
        Rory Stokes</td>
  </tr><tr>
    <th>Jam</td>
    <td><a href="/jams/agj-1">Adelaide Game Jam</a> (32 hours)</td>
  </tr><tr>
    <th>Source Code</td>
    <td>None</td>
  </tr><tr>
    <th>Play</td>
    <td><a href="/static/games/robojam/robojam.zip">Windows</a></td>
  </tr>
</table>
{% endblock %}
