{% extends "base.html" %}

{% block title %}Jamalaide - Games - Rock Guy{% endblock %}

{% block content %}
<h1>Rock Guy</h1>
<img src="/static/img/rock-guy.jpg"></img>
<table>
  <tr>
    <td class="label">Author</td>
    <td>Colin Capurso</td>
  </tr><tr>
    <td class="label">Jam</td>
    <td><a href="/jams/2011-11-19">Adelaide Game Jam</a> (32 hours)</td>
  </tr><tr>
    <td class="label">Source Code</td>
    <td><a href="/static/games/rock-guy/rock-guy-touch-src.zip">Download touch only</a>
        (<a href="http://sam.zoy.org/wtfpl/">WTFPL</a>)<br />
        <a href="/static/games/rock-guy/rock-guy-mouse-src.zip">Download mouse controls (modified after jam)</a>
        (<a href="http://sam.zoy.org/wtfpl/">WTFPL</a>)</td>
  </tr><tr>
    <td class="label">Play</td>
    <td><a href="/static/games/rock-guy/touch/index.html">Touch only in browser</a> -
      <a href="/static/games/rock-guy/mouse/index.html">Mouse controls in browser (modified after jam)</a>
  </tr>
</table>
{% endblock %}
