{% load staticfiles %}
{% load jam_tags %}
	<section id="news-sidebar"{% if next %} class="important"{% endif %}>
          {% if next %}{% if next.is_current %}<section class="important">
            <h1>Jamming Now!</h1>
            {% if user.is_authenticated %}
            <a href="{% url 'jams.views.edit_game' next.slug %}">
              <div class="button">Submit Game</div>
            </a>
            for
            {% endif %}
            <a href="/jams/{{next.slug}}">{{ next.title }}</a> which ends:<br>
            {{ next.end_time|date:"g:i a l jS F Y" }}
            
          </section>{% else %}<section class="important">
            <h1>Next Jam</h1>
            <a href="/jams/{{next.slug}}">
              {{ next.title }}
            </a><br />
            {% if next.start_time.month == next.end_time.month %}
            {{ next.start_time|date:"jS" }}-{{ next.end_time|date:"jS" }} {{ next.start_time|date:"F" }}
            {% else %}
            {{ next.start_time|date:"jS N" }}-{{ next.end_time|date:"jS N" }}
            {% endif %}
          </section>{% endif %}{% endif %}

          {% for jam in upcoming %}{% if jam.is_current %}<section class="important">
            <h1>Jamming Now!</h1>
            {% if user.is_authenticated %}
            <a href="{% url 'jams.views.edit_game' jam.slug %}">
              <div class="button">Submit Game</div>
            </a>
            for
            {% endif %}
            <a href="/jams/{{jam.slug}}">{{ jam.title }}</a> which ends:<br>
            {{ jam.end|date:"g:i a l jS F Y" }}
          </section>{% else %}<section>
            <h1>Coming Soon</h1>
            <a href="/jams/{{jam.slug}}">
              {{ jam.title }}
            </a><br />
            {% if jam.start.month == jam.end.month %}
            {{ jam.start_time|date:"jS" }}-{{ jam.end_time|date:"jS" }} {{ jam.start_time|date:"F" }}
            {% else %}
            {{ jam.start_time|date:"jS N" }}-{{ jam.end_time|date:"jS N" }}
            {% endif %}
          </section>{% endif %}{% endfor %}
        
          {% for jam in recent %}<section>
            <h1>Recent Jam</h1>
            {% if jam.is_active and user.is_authenticated %}
            <a href="{% url 'jams.views.edit_game' next.slug %}">
              <div class="button">Submit Game</div>
            </a>
            for
            <a href="/jams/{{jam.slug}}">{{ jam.title }}</a>
            which ended:<br />
            {{ jam.end_time|date:"g:i a l jS F Y" }}
            {% else %}
            <a href="/jams/{{jam.slug}}">
              {{ jam.title }}
            </a><br />
            {% if jam.start.month == jam.end.month %}
            {{ jam.start_time|date:"jS" }}-{{ jam.end_time|date:"jS" }} {{ jam.start_time|date:"F" }}
            {% else %}
            {{ jam.start_time|date:"jS N" }}-{{ jam.end_time|date:"jS N" }}
            {% endif %}{% endif %}
          </section>{% endfor %}

          {% if spotlight %}<section>
            <h1>Game Spotlight</h1>
            {% for game in spotlight %}
            {% game_thumb game %}
            {% endfor %}
          </section>{% endif %}
	</section>
