	<div id="sidebar">
            {% if current %}
                <div id="current">
                    <h1>Current Jam</h1>
                    <a href="/jams/{{current.url}}">{{ current.name }}</a>
                    (<a href="{% url jams.views.submit current.url %}">Submit</a>)
                </div>
            {% endif %}
        
            {% if next %}
                <div id="next">
                    <h1>Next time</h1>
                    <a href="/jams/{{next.url}}">
                      {{ next.name }}<br />
                    </a>
                    {% if next.start.month == next.end.month %}
                    {{ next.start|date:"jS" }}-{{ next.end|date:"jS" }} {{ next.start|date:"F" }}
                    {% else %}
                    {{ next.start|date:"jS" }} {{ next.start|date:"N" }}-{{ next.end|date:"jS" }} {{ next.end|date:"N" }}
                    {% endif %}
                </div>
            {% endif %}
        
            {% if prev %}
                <div id="prev">
                    <h1>Last time</h1>
                    <a href="/jams/{{prev.url}}">
                      {{ prev.name }}
                    </a><br />
                    {% if prev.start.month == prev.end.month %}
                    {{ prev.start|date:"jS" }}-{{ prev.end|date:"jS" }} {{ prev.start|date:"F" }}
                    {% else %}
                    {{ prev.start|date:"jS" }} {{ prev.start|date:"N" }}-{{ prev.end|date:"jS" }} {{ prev.end|date:"N" }}
                    {% endif %}
                </div>
            {% endif %}
        
            <div id="contact">
                <h1>Contact</h1>
                Email: <a href="mailto:contact@jamalaide.org.au">contact@jamalaide.org.au</a><br />
                IRC: <a href="https://webchat.freenode.net/?randomnick=1&amp;channels=jamalaide">#jamalaide on freenode</a>
            </div>
	</div>
