{% extends "base.html" %}

{% block title %}Jamalaide - Games - Some Game by James{% endblock %}

{% block content %}
<h1>Some Game by James</h1>
<div id="image">
  <img src="/static/img/some-game-by-james.jpg" alt="" />
</div>
<table>
  <tr>
    <th>Author</td>
    <td>James Picone</td>
  </tr><tr>
    <th>Jam</td>
    <td><a href="/jams/agj-1">Adelaide Game Jam</a> (32 hours)</td>
  </tr><tr>
    <th>Source Code</td>
    <td><a href="/static/games/some-game-by-james/some-game-by-james-src.zip">Download</a>
        (<a href="http://www.opensource.org/licenses/BSD-3-Clause">Modified BSD License</a>)</td>
  </tr><tr>
    <th>Play</td>
    <td><a href="/static/games/some-game-by-james/some-game-by-james-win64.zip">Windows (64-bit)</a></td>
  </tr>
</table>
{% endblock %}
