{% extends "base.html" %}

{% block title %}Jamalaide - Games - Sound and Vision{% endblock %}

{% block content %}
<h1>Sound and Vision</h1>
<div id="image">
  <img src="/static/img/sound-and-vision.jpg" alt="" />
</div>
<table>
  <tr>
    <th>Authors</td>
    <td>Jaime von Schwarzburg<br />
        Josh Douglass-Molloy<br />
        Saxon Douglass</td>
  </tr><tr>
    <th>Contributors</td>
    <td>Rory Stokes</td>
  </tr><tr>
    <th>Jam</td>
    <td><a href="/jams/agj-1">Adelaide Game Jam</a> (32 hours)</td>
  </tr><tr>
    <th>Source Code</td>
    <td><a href="/static/games/sound-and-vision/sound-and-vision.zip">Download</a>
        (<a href="http://www.opensource.org/licenses/mit-license.php">MIT</a>)</td>
  </tr><tr>
    <th>Play</td>
    <td><a href="/static/games/sound-and-vision/sound-and-vision.zip">Download (Source)</a></td>
  </tr>
</table>
{% endblock %}
