{% extends "base.html" %}

{% block title %}Jamalaide - Games - Sound and Vision{% endblock %}

{% block content %}
<h1>Sound and Vision</h1>
<img src="/static/img/sound-and-vision.jpg"></img>
<table>
  <tr>
    <td class="label">Authors</td>
    <td>Jaime von Schwarzburg<br />
        Josh Douglass-Molloy<br />
        Saxon Douglass</td>
  </tr><tr>
    <td class="label">Contributors</td>
    <td>Rory Stokes</td>
  </tr><tr>
    <td class="label">Jam</td>
    <td><a href="/jams/2011-11-19">Adelaide Game Jam</a> (32 hours)</td>
  </tr><tr>
    <td class="label">Source Code</td>
    <td><a href="/static/games/sound-and-vision/sound-and-vision-src.tar.xz">Download</a>
        (<a href="http://www.opensource.org/licenses/mit-license.php">MIT</a>)</td>
  </tr><tr>
    <td class="label">Play</td>
    <td><a href="/static/games/sound-and-vision/sound-and-vision-src.tar.xz">Download (Source)</a></td>
  </tr>
</table>
{% endblock %}
