{% extends "base.html" %}

{% block title %}Jamalaide - Games - Three Jumping Dudes{% endblock %}

{% block content %}
<h1>Three Jumping Dudes</h1>
<div id="image">
  <img src="/static/img/three-jumping-dudes.jpg" alt="" />
</div>
<table>
  <tr>
    <th>Author</td>
    <td>Rory Stokes</td>
  </tr><tr>
    <th>Jam</td>
    <td><a href="/jams/agj-1">Adelaide Game Jam</a> (32 hours)</td>
  </tr><tr>
    <th>Source Code</td>
    <td><a href="/static/games/three-jumping-dudes/three-jumping-dudes.zip">Download</a>
        (<a href="http://www.opensource.org/licenses/mit-license.php">MIT</a>)</td>
  </tr><tr>
    <th>Play</td>
    <td><a href="/static/games/three-jumping-dudes/index.html">In Browser</a>
  </tr>
</table>
{% endblock %}
