{% extends "base.html" %}

{% block title %}Jamalaide - Games - The Tunnel Experience{% endblock %}

{% block content %}
<h1>The Tunnel Experience</h1>
<img src="/static/img/tunnel-experience.jpg" alt="" />
<table>
  <tr>
    <td class="label">Author</td>
    <td>Patrick Mead</td>
  </tr><tr>
    <td class="label">Jam</td>
    <td><a href="/jams/2011-11-19">Adelaide Game Jam</a> (32 hours)</td>
  </tr><tr>
    <td class="label">Source Code</td>
    <td><a href="/static/games/tunnel-experience/tunnel-experience.zip">Download</a>
        (<a href="http://www.opensource.org/licenses/mit-license.php">MIT</a>)</td>
  </tr><tr>
    <td class="label">Play</td>
    <td><a href="/static/games/tunnel-experience/tunnel-experience">Linux</a></td>
  </tr>
</table>
{% endblock %}
