{% extends "base.html" %}

{% block title %}Jamalaide - Games - UNAMED{% endblock %}

{% block content %}
<h1>UNAMED</h1>
<div id="image">
  <img src="/static/img/unamed.jpg" alt="" />
</div>
<table>
  <tr>
    <th>Author</td>
    <td>Aidan Snoswell</td>
  </tr><tr>
    <th>Jam</td>
    <td><a href="/jams/agj-1">Adelaide Game Jam</a> (32 hours)</td>
  </tr><tr>
    <th>Source Code</td>
    <td><a href="/static/games/unamed/unamed.zip">Download</a>
        (<a href="http://www.opensource.org/licenses/mit-license.php">MIT</a>)</td>
  </tr><tr>
    <th>Play</td>
    <td><a href="/static/games/unamed/index.html">In Browser</a> -
        <a href="/static/games/unamed/unamed.swf">Download</a></td>
  </tr>
</table>
{% endblock %}
