/* Import this theme using the following HTML or equivalent:
 * <link href="/static/css/dark.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Colour scheme to be used by website */
/* In this file you should write your main styles. (or centralize your imports) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "ArcadeClassic";
  src: url('/static/font/ArcadeClassic.ttf') format('truetype'), url('/static/font/ArcadeClassic.eot') format('embedded-opentype');
}
*::-moz-selection {
  color: #2c1b37;
  background-color: white;
}
*::selection {
  color: #2c1b37;
  background-color: white;
}

html {
  background-color: #663D80;
  background-image: url('/static/img/bg.png');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center bottom;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
}

body {
  -ms-interpolation-mode: bicubic;
  image-rendering: auto;
  color: white;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  border-bottom: 1px white dotted;
}

a:link {
  color: #d699ff;
}

a:visited {
  color: #ab7acd;
}

a:hover, a:active {
  border: none;
  color: #d699ff;
  text-shadow: 0 0 2px #d699ff;
}

h1, h2, h3, h4, h5, h6 {
  clear: left;
  color: white;
  font-family: Electrolize,sans-serif;
  margin: 32px 0 16px 0;
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 2em;
  font-weight: normal;
}

h4 {
  font-size: 1.5em;
  font-weight: normal;
}

dl {
  margin: 1em 0 1em 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 1em;
}

footer {
  display: block;
  clear: both;
  color: #815c99;
  position: relative;
  text-align: center;
  width: 950px;
  font-size: 14px;
}
footer a, footer a:hover, footer a:active {
  border: none;
  background: none;
}
footer a img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
}
footer a:hover img,
footer a:active img {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

header {
  display: block;
  background-image: url('/static/img/header.png');
  background-repeat: no-repeat;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  margin: 32px auto 0 auto;
  position: relative;
  height: 96px;
  width: 950px;
  z-index: 10;
}

p {
  margin-bottom: 1em;
}

nav {
  border-bottom: 4px solid white;
  font-family: ArcadeClassic,Arial,sans-serif;
  font-size: 24px;
  padding-left: 64px;
  height: 24px;
  font-weight: normal;
  display: block;
}
nav li {
  color: white;
  float: left;
  display: block;
  list-style-type: none;
  margin-right: 24px;
  height: 100%;
}
nav a {
  display: block;
  height: 100%;
  padding: 0 6px;
  border: none;
}
nav a:link, nav a:visited {
  color: white;
}
nav a:active, nav a:hover {
  background-color: white;
  color: #57356e;
  text-decoration: none;
}

#page-wrap {
  position: relative;
}

#container {
  background-color: #57356e;
  margin: -12px auto 150px auto;
  padding: 12px 32px 16px 32px;
  position: relative;
  width: 950px;
}

#sidebar {
  color: #d9d9d9;
  float: right;
  width: 250px;
  margin-bottom: 32px;
  font-size: small;
  text-align: center;
}
#sidebar h1 {
  font-family: ArcadeClassic,sans-serif;
  font-weight: normal;
  border-bottom: 2px solid white;
  color: white;
  font-size: 2em;
  text-align: center;
  margin: 32px 0 16px 0;
}

#social {
  margin: 4px 0;
  text-align: center;
}
#social img {
  margin-left: 8px;
  margin-right: 8px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
}
#social a {
  border: none;
  background: none;
}
#social a:hover img,
#social a:active img {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

#content {
  margin: 32px 0;
  text-align: justify;
  width: 650px;
}
#content ul {
  list-style: square url(/static/img/bullet.png) outside;
  text-indent: 0;
  margin-left: 2em;
}
#content ol {
  list-style-position: outside;
  text-indent: 0;
  margin-left: 2em;
}
#content li {
  margin: 0.5em 0;
}
#content p {
  line-height: 1.5em;
}

#account {
  float: right;
  margin-top: 32px;
  text-align: right;
}

div.button {
  cursor: pointer;
  background-color: #d699ff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #57356e;
  font-family: ArcadeClassic,sans-serif;
  font-size: 2em;
  margin: 16px auto;
  padding: 4px;
  text-align: center;
  width: 200px;
}

div.button:hover, div.button:active {
  background-color: white;
  color: #57356e;
}

.game {
  display: inline-block;
  vertical-align: top;
  *vertical-align: top;
  *zoom: 1;
  *display: inline;
  text-align: center;
  width: 208px;
  height: 184px;
  margin: 0 2px 16px 2px;
  padding: 8px 0;
}
.game a {
  border: none;
  display: block;
}
.game img {
  height: 144px;
  margin: 0;
  padding: 0;
  width: 192px;
}

.game:hover, .game:active {
  background-color: #694681;
}

img.gameImage {
  display: block;
  margin: 2em auto;
  max-height: 450px;
  max-width: 600px;
}

.left {
  clear: left;
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 200px;
}

.right {
  float: left;
  margin: 0 0 16px 16px;
  width: 300px;
}

.errorlist {
  color: #ff8fa2;
}

.small {
  color: #d9d9d9;
  font-size: small;
  font-weight: normal;
}

input, select, textarea {
  background-color: #663D80;
  border: solid 1px #d699ff;
  color: white;
}

input {
  padding: 4px 4px;
  width: 392px;
}

input[type="checkbox"] {
  width: auto;
}

select, textarea {
  width: 400px;
}

#formset .left {
  clear: left;
  display: block;
  font-weight: bold;
  text-align: right;
  width: 184px;
}
#formset .right {
  float: left;
  margin: 0 0 8px 16px;
  width: 300px;
}
#formset input {
  background-color: #58356E;
}
#formset .box {
  background-color: #663d80;
  clear: both;
  margin: 32px 0px;
  padding: 16px;
  margin-bottom: 1em;
}

#submit {
  background-color: #663d80;
  border: solid 1px #d798ff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  clear: left;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
}

#submit:hover,
#submit:active {
  background-color: #ffffff;
  border: solid 1px #ffffff;
  color: #663d80;
}
