/* Import this theme using the following HTML or equivalent:
 * <link href="/static/css/dark.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Colour scheme to be used by website */
/* In this file you should write your main styles. (or centralize your imports) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "ArcadeClassic";
  src: url('/static/font/ArcadeClassic.ttf') format('truetype'), url('/static/font/ArcadeClassic.eot') format('embedded-opentype');
}
*::-moz-selection {
  color: #50356f;
  background-color: white;
}
*::selection {
  color: #50356f;
  background-color: white;
}

html {
  background-color: #a06cc4;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center bottom;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
}

body {
  -ms-interpolation-mode: bicubic;
  image-rendering: auto;
  color: white;
  font-family: sans-serif;
  min-height: 100vh;
  position: relative;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  border-bottom: 1px white dotted;
  color: #cfa0ee;
}
a:visited {
  color: #b974e7;
}
a:hover, a:active {
  border: none;
  text-shadow: 0 0 2px #cfa0ee;
}

a.img-link {
  border: none;
}

a.back-link {
  float: left;
}

a.forward-link {
  float: right;
}

h1, h2, h3, h4, h5, h6 {
  clear: left;
  font-family: Electrolize,sans-serif;
  margin: 24px 0 16px 0;
  font-weight: bold;
  text-align: left;
}

h1 {
  font-family: ArcadeClassic,Arial,sans-serif;
  font-weight: normal;
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 2em;
  font-weight: normal;
}

h4 {
  font-size: 1.5em;
  font-weight: normal;
}

dl {
  margin: 1em 0 1em 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 1em;
}

p {
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
}

code {
  font-family: Consolas,monospace;
  background-color: #37254c;
  padding: 1px 0.5em;
}

pre {
  margin: 21px 1em 21px 1em;
  text-align: left;
  padding: 0.5em;
  background-color: #37254c;
  white-space: pre-wrap;
}

blockquote {
  margin: 29px 1.5em;
  font-style: italic;
}

footer {
  display: block;
  clear: both;
  color: #c3a3da;
  position: relative;
  text-align: center;
  max-width: 950px;
  font-size: 0.875em;
}
@media only screen and (min-width: 1250px) {
  .wide footer {
    max-width: 76vw;
    max-width: calc(100vw - 300px);
  }
}
footer a {
  color: white;
  border: none;
}
footer a img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
}
footer a:hover img, footer a:active img {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

header {
  display: block;
  background-color: #421163;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  width: 100%;
}
header #title {
  position: relative;
  margin: 0 auto 0 auto;
  max-width: 950px;
  background-color: #6e1da5;
}
@media only screen and (min-width: 1250px) {
  .wide header #title {
    max-width: 76vw;
    max-width: calc(100vw - 300px);
  }
}
.ie8 header #title {
  height: 116px;
}
@media only screen and (min-width: 468px) {
  header #title {
    height: 116px;
  }
}
header #title #logo {
  max-width: 96%;
  padding-left: 2%;
  padding-right: 2%;
  pointer-events: none;
}
.ie8 header #title #logo {
  position: absolute;
  bottom: -12px;
}
@media only screen and (min-width: 468px) {
  header #title #logo {
    position: absolute;
    bottom: -12px;
  }
}
header #title #social {
  position: absolute;
  top: 32px;
  right: 2%;
  width: 160px;
  text-align: right;
  display: none;
}
.ie8 header #title #social {
  display: block;
}
@media only screen and (min-width: 662px) {
  header #title #social {
    display: block;
  }
}
header #title #social img {
  margin-left: 8px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
}
header #title #social a {
  border: none;
  background: none;
}
header #title #social a:hover img, header #title #social a:active img {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
header #title #account {
  bottom: 0;
  right: 0;
  line-height: 1em;
  display: block;
  text-align: right;
  padding: 8px 2%;
}
.ie8 header #title #account {
  position: absolute;
  vertical-align: bottom;
}
@media only screen and (min-width: 662px) {
  header #title #account {
    position: absolute;
    vertical-align: bottom;
  }
}
header #title #account p {
  margin: 0;
  display: inline;
}
.ie8 header #title #account p {
  display: block;
}
@media only screen and (max-width: 290px) {
  header #title #account p {
    display: block;
  }
}

nav {
  display: block;
  max-width: 100%;
  background-color: #2a0a40;
  font-family: ArcadeClassic,Arial,sans-serif;
  font-size: 32px;
  font-weight: normal;
}
.ie8 nav #menu-link {
  display: none;
}
@media only screen and (min-width: 662px) {
  nav #menu-link {
    display: none;
  }
}
nav a {
  display: block;
  height: 32px;
  padding: 0;
  border: none;
  text-align: center;
  background-color: #47126b;
}
nav a:link, nav a:visited {
  color: white;
}
nav a:active, nav a:hover {
  background-color: white;
  color: #47126b;
  text-decoration: none;
}
@media only screen and (min-height: 240px) {
  nav a {
    padding: 8px 0;
  }
}
.ie8 nav a {
  padding: 8px 12px;
}
@media only screen and (min-width: 662px) {
  nav a {
    padding: 8px 12px;
  }
}
nav ul {
  list-style: none;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  background-color: #47126b;
  position: absolute;
  bottom: 40px;
}
@media only screen and (min-width: 1250px) {
  .wide nav ul {
    max-width: 76vw;
    max-width: calc(100vw - 300px);
  }
}
.ie8 nav ul {
  position: static;
}
@media only screen and (min-width: 662px) {
  nav ul {
    position: static;
  }
}
nav li {
  display: block;
  width: 100%;
  float: left;
}
.ie8 nav li {
  margin-right: 24px;
}
@media only screen and (min-width: 786px) {
  nav li {
    margin-right: 24px;
  }
}
.ie8 nav li {
  width: auto;
}
.ie8 nav li:first-child {
  margin-left: 79px;
  margin-left: calc(2% + 60px);
}
@media only screen and (min-width: 662px) {
  nav li {
    width: auto;
  }
  nav li:first-child {
    margin-left: 79px;
    margin-left: calc(2% + 60px);
  }
}
nav li a {
  position: relative;
}

#page-wrap {
  position: relative;
}

#container {
  clear: both;
  margin: 19px auto 336px auto;
  position: relative;
  max-width: 950px;
}
@media only screen and (min-width: 1250px) {
  .wide #container {
    max-width: 76vw;
    max-width: calc(100vw - 300px);
  }
}
.ie8 #container {
  margin-bottom: 96px;
}
@media only screen and (min-width: 662px) {
  #container {
    margin-bottom: 96px;
  }
}
#container ul {
  list-style: square url('/static/img/bullet.png') outside;
  text-indent: 0;
  margin-left: 2em;
}
#container ol {
  list-style-position: outside;
  text-indent: 0;
  margin-left: 2em;
}
#container li {
  margin: 0.5em 0;
}
#container p {
  line-height: 1.5em;
}
#container .left {
  clear: left;
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 200px;
  line-height: 1.5em;
}
#container .right {
  float: left;
  margin: 0 0 8px 8px;
  width: 300px;
  line-height: 1.5em;
}
#container .right p:last-child {
  margin: 0;
}

#news-sidebar, #game-details, #important-jams, #jam-details {
  float: left;
  border-style: solid;
  margin-right: -50vw;
  border-right-width: 50vw;
  margin-left: -50vw;
  border-left-width: 50vw;
}
.ie8 #news-sidebar, .ie8 #game-details, .ie8 #important-jams, .ie8 #jam-details {
  margin-right: 0;
  border-right-width: 0;
}
@media only screen and (min-width: 662px) {
  #news-sidebar, #game-details, #important-jams, #jam-details {
    margin-right: 0;
    border-right-width: 0;
  }
}

#news-feed, #game-sidebar, #jam-list {
  float: left;
  border-style: solid;
  margin-right: -50vw;
  border-right-width: 50vw;
}
.ie8 #news-feed, .ie8 #game-sidebar, .ie8 #jam-list {
  float: right;
}
@media only screen and (min-width: 662px) {
  #news-feed, #game-sidebar, #jam-list {
    float: right;
  }
}

#game-list, #flatpage, #form, #profile {
  float: left;
  border-style: solid;
  margin-right: -50vw;
  border-right-width: 50vw;
  margin-left: -50vw;
  border-left-width: 50vw;
}

#news-sidebar, #game-sidebar, #jam-list {
  line-height: 1.5em;
  display: none;
  color: #d9d9d9;
  background-color: #5c3d7f;
  border-color: #37244c;
  width: 96%;
  padding: 0 2% 1em 2%;
  margin-bottom: 32px;
  text-align: center;
}
.important#news-sidebar, .important#game-sidebar, .important#jam-list {
  display: block;
}
.ie8 #news-sidebar, .ie8 #game-sidebar, .ie8 #jam-list {
  width: 30%;
  display: block;
}
@media only screen and (min-width: 662px) {
  #news-sidebar, #game-sidebar, #jam-list {
    width: 30%;
    display: block;
  }
}
#news-sidebar section, #game-sidebar section, #jam-list section {
  display: none;
}
#news-sidebar section.important, #game-sidebar section.important, #jam-list section.important {
  display: block;
}
.ie8 #news-sidebar section, .ie8 #game-sidebar section, .ie8 #jam-list section {
  display: block;
}
@media only screen and (min-width: 662px) {
  #news-sidebar section, #game-sidebar section, #jam-list section {
    display: block;
  }
}
#news-sidebar h1, #game-sidebar h1, #jam-list h1 {
  font-family: ArcadeClassic,sans-serif;
  font-weight: normal;
  border-bottom: 2px solid white;
  color: white;
  font-size: 2em;
  text-align: center;
  margin: 32px 0 16px 0;
}

#news-feed, #game-details, #important-jams, #jam-details, #game-list, #flatpage, #form, #profile {
  text-align: left;
  padding: 1em 2% 1em 2%;
  margin-bottom: 32px;
  background-color: #50356f;
  width: 96%;
  border-color: #50356f;
}
.ie8 #news-feed, .ie8 #game-details, .ie8 #important-jams, .ie8 #jam-details, .ie8 #game-list, .ie8 #flatpage, .ie8 #form, .ie8 #profile {
  border-color: #301f42;
}
@media only screen and (min-width: 662px) {
  #news-feed, #game-details, #important-jams, #jam-details, #game-list, #flatpage, #form, #profile {
    border-color: #301f42;
  }
}

#news-feed, #game-details, #important-jams, #jam-details {
  max-width: 570px;
}
.ie8 #news-feed, .ie8 #game-details, .ie8 #important-jams, .ie8 #jam-details {
  text-align: justify;
}
@media only screen and (min-width: 350px) {
  #news-feed, #game-details, #important-jams, #jam-details {
    text-align: justify;
  }
}
.ie8 #news-feed, .ie8 #game-details, .ie8 #important-jams, .ie8 #jam-details {
  width: 60%;
}
@media only screen and (min-width: 662px) {
  #news-feed, #game-details, #important-jams, #jam-details {
    width: 60%;
  }
}

#jam-list {
  text-align: left;
}

#to-top {
  display: block;
  width: 100%;
  text-align: center;
  bottom: 0;
  right: 0;
  border: 0;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
}
.ie8 #to-top {
  position: fixed;
  width: auto;
}
@media only screen and (min-width: 662px) {
  #to-top {
    position: fixed;
    width: auto;
  }
}
#to-top:hover, #to-top:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

#game-list {
  text-align: left;
}

.game {
  display: inline-block;
  vertical-align: bottom;
  *vertical-align: bottom;
  *zoom: 1;
  *display: inline;
  border: none;
  text-align: center;
  max-width: 166.66667px;
  width: 91.22807%;
  width: calc(100% - 20px);
  margin: 0 2px 16px 2px;
  padding: 28px 8px;
}
.ie8 .game {
  height: 176px;
}
@media only screen and (min-width: 425px) {
  .game {
    height: 176px;
  }
}
.game:hover, .game:active {
  background-color: #47126b;
}
.game img {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 8px 0;
  max-height: 144px;
  max-width: 166.66667px;
}

.gameImage {
  display: block;
  margin: 2em auto;
  max-height: 450px;
}

.errorlist {
  color: #ff8fa2;
}

.small {
  color: #d9d9d9;
  font-size: small;
  font-weight: normal;
}

input, select,
textarea {
  background-color: #47126b;
  border: solid 1px #6f548e;
  color: white;
}
input:hover, select:hover,
textarea:hover, input:active, select:active,
textarea:active {
  background-color: #6e1da5;
  border: solid 1px #6f548e;
  color: white;
}

input {
  padding: 4px 4px;
  width: 392px;
}

input[type="checkbox"] {
  width: auto;
}

select,
textarea {
  width: 400px;
}

#formset .left {
  clear: left;
  display: block;
  font-weight: bold;
  text-align: right;
  width: 184px;
}
#formset .right {
  float: left;
  margin: 0 0 8px 16px;
  width: 300px;
}
#formset .box {
  background-color: #5c3d7f;
  clear: both;
  margin: 32px 0px;
  padding: 16px;
  margin-bottom: 1em;
}

.button {
  display: block;
  cursor: pointer;
  background-color: #47126b;
  border: solid 1px #6f548e;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  clear: left;
  color: white;
  font-family: ArcadeClassic,sans-serif;
  font-size: 2em;
  margin: 16px auto;
  padding: 4px;
  text-align: center;
  width: 200px;
}
.button:hover, .button:active {
  background-color: #6e1da5;
  border: solid 1px #6f548e;
  color: white;
}

.links {
  font-size: 1.5em;
  text-align: center;
}

.map {
  clear: both;
  text-align: center;
}
