/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/static/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: ArcadeClassic;
  src: url("/static/font/ArcadeClassic.ttf"), url("/static/font/ArcadeClassic.eot");
  /* IE9 */
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #663d80;
  background-image: url("/static/img/bg.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center bottom;
  color: #ffffff;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  border-bottom: 1px #ffffff dotted;
}

a:link {
  color: #d798ff;
}

a:visited {
  color: #ac7acc;
}

a:hover, a:active {
  border: none;
  color: #d798ff;
  text-shadow: 0 0 2px #d798ff;
}

h1, h2, h3, h4, h5, h6 {
  clear: left;
  color: #ffffff;
  font-family: Electrolize,sans-serif;
  margin: 32px 0 16px 0;
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 2em;
  font-weight: normal;
}

h4 {
  font-size: 1.5em;
  font-weight: normal;
}

dl {
  margin: 1em 0 1em 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 1em;
}

footer {
  display: block;
  clear: both;
  color: #815c99;
  position: relative;
  text-align: center;
  width: 950px;
  font-size: 14px;
}

footer a, footer a:hover, footer a:active {
  border: none;
  background: none;
}

header {
  display: block;
  background-image: url("/static/img/header.png");
  background-repeat: no-repeat;
  margin: 32px auto 0 auto;
  position: relative;
  height: 96px;
  width: 950px;
  z-index: 10;
}

p {
  margin-bottom: 1em;
}

nav {
  border-bottom: 4px solid #ffffff;
  font-family: ArcadeClassic,Arial,sans-serif;
  font-size: 24px;
  padding-left: 64px;
  height: 24px;
  font-weight: normal;
  display: block;
}

nav li {
  color: #ffffff;
  float: left;
  display: block;
  list-style-type: none;
  margin-right: 24px;
}

nav a {
  padding: 0 6px;
}

nav a:link, nav a:visited {
  color: #ffffff;
}

nav li:active, nav li:hover {
  background-color: #ffffff;
  color: #58356E;
}

nav a:active, nav a:hover {
  color: #58356E;
  text-decoration: none;
}

#page-wrap {
  position: relative;
}

#container {
  background-color: #58356E;
  margin: -12px auto 150px auto;
  padding: 12px 32px 16px 32px;
  position: relative;
  width: 950px;
}

#sidebar {
  color: #dddddd;
  float: right;
  width: 250px;
  margin-bottom: 32px;
  font-size: small;
  text-align: center;
}

#sidebar h1 {
  font-family: ArcadeClassic,sans-serif;
  font-weight: normal;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  font-size: 2em;
  text-align: center;
  margin: 32px 0 16px 0;
}

#social {
  margin: 4px 0;
  text-align: center;
}

#social img {
  margin-left: 8px;
  margin-right: 8px;
  opacity: 1;
}

#social a {
  border: none;
  background: none;
}

#content {
  margin: 32px 0;
  text-align: justify;
  width: 650px;
}

#content ul {
  list-style: square url(/static/img/bullet.png) outside;
  text-indent: 0;
  margin-left: 2em;
}

#content ol {
  list-style-position: outside;
  text-indent: 0;
  margin-left: 2em;
}

#content li {
  margin: 0.5em 0;
}

#content p {
  line-height: 1.5em;
}

#account {
  float: right;
  margin-top: 32px;
  text-align: right;
}

div.button {
  cursor: pointer;
  background-color: #d798ff;
  border-radius: 4px;
  color: #58356E;
  font-family: ArcadeClassic,sans-serif;
  font-size: 2em;
  margin: 16px auto;
  padding: 4px;
  text-align: center;
  width: 200px;
}

div.button:hover, div.button:active {
  background-color: #ffffff;
  color: #58356E;
}

.game {
  display: inline-block;
  text-align: center;
  width: 208px;
  height: 184px;
  margin: 0 2px 16px 2px;
  padding: 8px 0;
  vertical-align: top;
}

.game:hover, .game:active {
  background-color: #6B4683;
}

.game a {
  border: none;
  display: block;
}

.game img {
  height: 144px;
  margin: 0;
  padding: 0;
  width: 192px;
}

img.gameImage {
  display: block;
  margin: 2em auto;
  max-height: 450px;
  max-width: 600px;
}

.left {
  clear: left;
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 200px;
}

.right {
  float: left;
  margin: 0 0 16px 16px;
  width: 300px;
}

.errorlist {
  color: #FF91A4;
}

.small {
  color: #dddddd;
  font-size: small;
  font-weight: normal;
}

input {
  background-color: #663d80;
  border: solid 1px #d798ff;
  color: #ffffff;
  padding: 4px 4px;
  width: 392px;
}

input[type="checkbox"] {
  width: auto;
}

select {
  background-color: #663d80;
  border: solid 1px #d798ff;
  color: #ffffff;
  width: 400px;
}

textarea {
  background-color: #663d80;
  border: solid 1px #d798ff;
  color: #ffffff;
  width: 400px;
}

#formset .left {
  clear: left;
  display: block;
  font-weight: bold;
  text-align: right;
  width: 184px;
}

#formset .right {
  float: left;
  margin: 0 0 8px 16px;
  width: 300px;
}

#formset input {
  background-color: #58356E;
}

#formset .box {
  background-color: #663d80;
  clear: both;
  margin: 32px 0px;
  padding: 16px;
  margin-bottom: 1em;
}

#submit {
  background-color: #663d80;
  border: solid 1px #d798ff;
  border-radius: 4px;
  clear: left;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
}

#submit:hover,
#submit:active {
  background-color: #ffffff;
  border: solid 1px #ffffff;
  color: #663d80;
}
