@font-face
{
    font-family: ArcadeClassic;
    src: url('/static/font/ArcadeClassic.ttf'),
        url('/static/font/ArcadeClassic.eot'); /* IE9 */
}

* {
	margin: 0;
	padding: 0;
}
body {
    background-color: #663d80;
    background-image: url('/static/img/bg.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center bottom;
    color: #ffffff;
	font-family: sans-serif;
}
a:link, a:visited {
    color: #d798ff;
    text-decoration: none;
}
a:hover, a:active {
    color: #d798ff;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-family: Electrolize,sans-serif;
    margin: 32px 0 16px 0;
    font-weight: bold;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.5em;
    font-weight: normal;
}
h5 {
    font-size: 1em;
    font-weight: normal;
}
dl {
    margin: 1em 0 1em 0;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 1em;
}
footer {
    clear: both;
    color: #5C2C7B;
    position: relative;
    text-align: center;
    width: 950px;
}
footer img {
    opacity: .5;
}
footer img:hover, footer img:active {
    opacity: 1;
}
header {
    background-image: url('/static/img/header.png');
    background-repeat: no-repeat;
    margin: -116px auto 0 auto;
    position: relative;
    height: 96px;
    width: 950px;
    z-index: 10;
}
p {
    margin-bottom: 1em;
}
nav {
    border-bottom: 4px solid #ffffff;
    font-family: ArcadeClassic,Arial,sans-serif;
    font-size: 24px;
    padding-left: 64px;
    height: 24px;
    font-weight: normal;
}
nav li {
    color: #ffffff;
    float: left;
    display: block;
    list-style-type: none;
    margin-right: 24px;
    padding: 0 6px;
}
nav li:active, nav li:hover {
    background-color: #ffffff;
    color: #774795;
}
nav a:active, nav a:hover {
    text-decoration: none;
}

#page-wrap {
    position: relative;
}
#container {
    background-color: #774795;
    margin: 116px auto 150px auto;
    padding: 32px 32px 0 32px;
    position: relative;
    width: 950px;
}
#sidebar {
    color: #dddddd;
    float: right;
    width: 250px;
    margin-bottom: 32px;
    font-size: small;
    text-align: justify;
}
#sidebar h1 {
    font-family: ArcadeClassic,sans-serif;
    font-weight: normal;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    margin: 32px 0 16px 0; 
}
#social {
    margin: 4px 0;
    text-align: center;
}
#social img {
    margin-left: 8px;
    margin-right: 8px;
    opacity: 1;
}
#social img:hover {
    opacity: .5;
}
#content {
    margin: 32px 0;
    text-align: justify;
    width: 650px;
}
#content ul {
    list-style: square url(/static/img/bullet.png) outside;
    text-indent: 0;
    margin-left: 2em;
}
#content ol {
    list-style-position: outside;
    text-indent: 0;
    margin-left: 2em;
}
#content li {
    margin: 0.5em 0;
}
#content p {
    line-height: 1.5em;
}
#account {
    float: right;
    margin-top: 32px;
    text-align: right;
}
.download_set {
    clear: left;
    margin-bottom: 32px;
}
.download {
    color: #ffffff;
    cursor: pointer;
    background-color: #a9c3d1;
    border: 4px solid #a9c3d1;
    border-radius: 4px;
    font-size: 1em;
    font-weight: bold;
    height: 50px;
    margin: 8px 14px;
    width: 200px;
}
.download:hover {
    background-color: #869ba6;
    border-color: #869ba6;
}
.download small {
    display: block;
    font-size: 0.5em;
    position: relative;
    bottom: 0;
}
.game {
    display: inline-block;
    text-align: center;
    width: 208px;
    height: 200px;
    margin: 1em 0;
    padding: 8px 0;
}
.game:hover, .game:active {
    background-color: #6B4683;
}
.game a {
    display: block;
}
.game img {
    margin: 0;
    padding: 0;
}
