@font-face
{
    font-family: ArcadeClassic;
    src: url('/static/font/ArcadeClassic.ttf'),
        url('/static/font/ArcadeClassic.eot'); /* IE9 */
}

* {
	margin: 0;
	padding: 0;
}
body {
    background-color: #663d80;
    background-image: url('/static/img/bg.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center bottom;
    color: #ffffff;
	font-family: sans-serif;
}
a {
    text-decoration: none;
    border-bottom: 1px #ffffff dotted;
}
a:link, a:visited {
    color: #d798ff;
}
a:hover, a:active {
    background-color: #ffffff;
    color: #58356E;
}
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-family: Electrolize,sans-serif;
    margin: 32px 0 16px 0;
    font-weight: bold;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.5em;
    font-weight: normal;
}
h5 {
    font-size: 1em;
    font-weight: normal;
}
dl {
    margin: 1em 0 1em 0;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 1em;
}
footer {
    clear: both;
    color: #815c99;
    position: relative;
    text-align: center;
    width: 950px;
}
footer img {
    opacity: 1;
}
footer img:hover, footer img:active {
    opacity: .5;
}
footer a, footer a:hover, footer a:active {
    border: none;
    background: none;
}
header {
    background-image: url('/static/img/header.png');
    background-repeat: no-repeat;
    margin: -116px auto 0 auto;
    position: relative;
    height: 96px;
    width: 950px;
    z-index: 10;
}
p {
    margin-bottom: 1em;
}
nav {
    border-bottom: 4px solid #ffffff;
    font-family: ArcadeClassic,Arial,sans-serif;
    font-size: 24px;
    padding-left: 64px;
    height: 24px;
    font-weight: normal;
}
nav li {
    color: #ffffff;
    float: left;
    display: block;
    list-style-type: none;
    margin-right: 24px;
    padding: 0 6px;
}
nav li:active, nav li:hover {
    background-color: #ffffff;
    color: #774795;
}
nav a:active, nav a:hover {
    text-decoration: none;
}

#page-wrap {
    position: relative;
}
#container {
    background-color: #58356E;
    margin: 116px auto 150px auto;
    padding: 32px 32px 16px 32px;
    position: relative;
    width: 950px;
}
#sidebar {
    color: #dddddd;
    float: right;
    width: 250px;
    margin-bottom: 32px;
    font-size: small;
    text-align: center;
}
#sidebar h1 {
    font-family: ArcadeClassic,sans-serif;
    font-weight: normal;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    margin: 32px 0 16px 0; 
}
#social {
    margin: 4px 0;
    text-align: center;
}
#social img {
    margin-left: 8px;
    margin-right: 8px;
    opacity: 1;
}
#social a {
    border: none;
    background: none;
}
#social img:hover {
    opacity: .25;
}
#content {
    margin: 32px 0;
    text-align: justify;
    width: 650px;
}
#content ul {
    list-style: square url(/static/img/bullet.png) outside;
    text-indent: 0;
    margin-left: 2em;
}
#content ol {
    list-style-position: outside;
    text-indent: 0;
    margin-left: 2em;
}
#content li {
    margin: 0.5em 0;
}
#content p {
    line-height: 1.5em;
}
#account {
    float: right;
    margin-top: 32px;
    text-align: right;
}
div.button {
    cursor: pointer;
    background-color: #d798ff;
    border-radius: 4px;
    color: #58356E;
    font-family: ArcadeClassic,sans-serif;
    font-size: 2em;
    margin: 16px;
    padding: 4px;
    text-align: center;
}
div.button:hover, div.button:active {
    background-color: #ffffff;
    color: #58356E;
}
.game {
    display: inline-block;
    text-align: center;
    width: 208px;
    height: 200px;
    margin: 1em 0;
    padding: 8px 0;
}
.game:hover, .game:active {
    background-color: #6B4683;
}
.game a {
    display: block;
}
.game img {
    margin: 0;
    padding: 0;
}
#fancyform {
    
}
#fancyform label {
    clear: left;
    display: block;
    float: left;
    font-weight: bold;
    text-align: right;
    width: 200px;
}
#fancyform .errorlist {
    color: #FF91A4;
}
#fancyform .small {
    color: #dddddd;
    font-size: small;
    font-weight: normal;
}
#fancyform .input {
    float: left;
    margin: 0 0 32px 16px;
    width: 300px;
}
#fancyform .input input {
    background-color: #663d80;
    border: solid 1px #d798ff;
    color: #ffffff;
    padding: 4px 4px;
    width: 392px;
}#fancyform .input input[type="checkbox"] {
    width: auto;
}
#fancyform .input select {
    background-color: #663d80;
    border: solid 1px #d798ff;
    color: #ffffff;
    width: 400px;
}
#fancyform .input textarea {
    background-color: #663d80;
    border: solid 1px #d798ff;
    color: #ffffff;
    width: 400px;
}
#fancyform #formset label {
    clear: left;
    display: block;
    font-weight: bold;
    text-align: right;
    width: 184px;
}
#fancyform #formset .input {
    float: left;
    margin: 0 0 8px 16px;
    width: 300px;
}
#fancyform #formset .input input {
    background-color: #58356E;
}
#fancyform #formset .box {
    background-color: #663d80;
    clear: both;
    height: 120px;
    margin: 32px 0px;
    padding: 16px;
    margin-bottom: 1em;
}
#fancyform input#submit {
    background-color: #663d80;
    border: solid 1px #d798ff;
    border-radius: 4px;
    clear: both;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    padding: 8px 16px;
}
#fancyform input#submit:hover,
#fancyform input#submit:active {
    background-color: #ffffff;
    border: solid 1px #ffffff;
    color: #663d80;
}
